# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]

# Test-related cache
.pytest_cache/

# IDE-specific settings
.vscode/
.idea/

# Virtual environment
env/

# macOS system files
.DS_Store

# Shell scripts
run_tests.sh

# Ignore egg-info directories
*.egg-info/

# Exclude specific test file 
tests/test_validate.py
